<section class="owner-data">
  <h3>owner Info</h3>

  <div class="data-container">
    <span class="data-name">
      <p class="data-name">nom</p>
      <p>{{ owner.name }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">prénom</p>
      <p>{{ owner.lastname }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">email</p>
      <p>{{ owner.email }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">addresse</p>
      <p>{{ owner.address }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">téléphone</p>
      <p>{{ owner.phone }}</p>
    </span>
  </div>
</section>