<section class="owner-data">
  <h3>owner Info</h3>

  <form method="post" action="{{ path('app_deleted_owner', {'id': owner.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deleteOwner' ~ owner.id) }}">
    <button class="btn btn-delete">Delete</button>
  </form>
  
  <div class="data-container">
    <span class="data-name">
      <p class="data-name">nom</p>
      <p>{{ owner.name }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">prénom</p>
      <p>{{ owner.lastname }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">email</p>
      <p>{{ owner.email }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">addresse</p>
      <p>{{ owner.address }}</p>
    </span>

    <span class="data-name">
      <p class="data-name">téléphone</p>
      <p>{{ owner.phone }}</p>
    </span>
  </div>
</section>