<section>
  <h3>tenant Info</h3>
  <form method="post" action="{{ path('app_deleted_tenant', {'id': tenant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deleteTenant' ~ tenant.id) }}">
    <button class="btn btn-delete">Delete</button>
  </form>
  <div class="data-container">
    <span class="data-content">
    	<p class="data-name">name</p>
    	<p>{{ tenant.name }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">lastname</p>
    	<p>{{ tenant.lastname }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">email</p>
    	<p>{{ tenant.email }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">address</p>
    	<p>{{ tenant.address }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">phone</p>
    	<p>{{ tenant.phone }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">utilisation des apl</p>
    	<p>{{ tenant.apl ? 'oui':'non' }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">valeur apl</p>
    	<p>{{ tenant.aplValue }}</p>
    </span>
  </div>
</section>