<section>
  <h3>Tenant Info</h3>
  <div class="data-container">
    <span class="data-content">
    	<p class="data-name">name</p>
    	<p>{{ tenant.name }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">lastname</p>
    	<p>{{ tenant.lastname }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">email</p>
    	<p>{{ tenant.email }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">address</p>
    	<p>{{ tenant.address }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">phone</p>
    	<p>{{ tenant.phone }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">utilisation des apl</p>
    	<p>{{ tenant.apl ? 'oui':'non' }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">valeur apl</p>
    	<p>{{ tenant.aplValue }}</p>
    </span>
  </div>
</section>