<div class="table" id="contract-table">
  <div class="table-head">
        <span class="ligne-content">
            {% for head in heads %}
              <p class="th">{{ head }}</p>
            {% endfor %}
        </span>
  </div>
  <div class="table-body">
    {% for contract in data %}
      <span class="ligne-content">
        <p class="td">{{ contract.startAt | date('d/m/y') }}</p>
        <p class="td">{{ contract.endAt | date('d/m/y') }}</p>
        <p class="td">{{ contract.Apartment.city }}</p>
        <p class="td">{{ contract.Apartment.address }}</p>
        <p class="td">{{ contract.Tenant.email }}</p>
        <a class="td" href="{{ path('app_contract_selected',{'id':contract.id}) }}">
          <span class="btn">
            sélect
          </span>
        </a>
      </span>
    {% endfor %}
  </div>
</div>