<section>
  <h3>Tenant Info</h3>
  <div class="data-container">
    <span class="data-content">
    	<p class="data-name">début</p>
    	<p>{{ contract.startAt | date('d/m/Y') }}</p>
    </span>

    <span class="data-content">
    	<p class="data-name">fin</p>
    	<p>{{ contract.endAt | date('d/m/Y') }}</p>
    </span>

{#    <span class="data-content">#}
{#    	<p class="data-name">addresse appartement</p>#}
{#    	<p>{{ Apartment.address }}</p>#}
{#      <a href="{{ path('app_Apartment_selected',{'id':Apartment.id}) }}">see</a>#}
{#    </span>#}

{#    <span class="data-content">#}
{#    	<p class="data-name">locataire email</p>#}
{#    	<p>{{ Tenant.email }}</p>#}
{#      <a href="{{ path('app_Tenant_selected',{'id':Tenant.id}) }}">see</a>#}
{#    </span>#}

  </div>
</section>